
.cell{
    height: 26px;
    z-index: 0;
    /*line-height: 1px;*/
    box-shadow:
            1px 0 0 0 black,
            /*0 1px 0 0 black,*/
            /*1px 1px 0 0 black,   !* Just to fix the corner *!*/
            2px 0 0 0 black inset;
            /*0 1px 0 0 black inset;*/
}

.grid-x:nth-child(even){
    background-color: #f1f1f1;
}

.timetable-perform{
    z-index: 1;
}

.timetable-perform-cell{
    z-index: 1;
}

.timetable-perform p {
    margin: 0;
}